.indicators__wrapper {
  display: flex;
}

.grid__form {
  padding: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--font-color);
  flex: 1 0;
}

.naming__style {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.tab__container {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  padding-bottom: 60px;
  gap: 10px;
  flex-shrink: 0;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: var(--font-color) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab__main {
  flex: 1;
  padding: 10px;
  text-align: center;
  background: none;
  cursor: pointer;
  color: #fd7770 !important;
  font-weight: 300;
  border-bottom: 2px solid #fd7770;
}

.tab:hover {
  border-bottom: 2px solid #fd7770;
}

input {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  min-width:250px;
  margin-bottom: 10px;
  border: 1px solid var(--input-color);
  border-radius: 15px;
  color: var(--font-color);
}

.button__container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.save__message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #fd7770;
  font-size: 14px;
}

.chart {
  width: 600px;
  height: 350px;
}

.chart__container {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
}

@media all and (max-width: 540px) {
  .grid__form {
    display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 330px;
        max-height: 420px;
        overflow: auto;
        left: 0;
        right: 0;

  }
  input {
    max-width: 300px;
    min-height: 40px;
    max-height: 42px;
  }
  .naming__style {
    display: flex;
    margin: 0;
    padding: 2px;
    font-size: 16px;
  }
  .button__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tab__container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  .chart {
    position: fixed;
    left: 20px;
    overflow-x: auto;
  }

  .pdf {
    position: fixed;
    bottom: 80px;
  }

  .chart__wrapper {
   width: 100%;
   overflow: auto;
  }

  .form__container{
    position: fixed;
    left: 0;
    right: 0;
    top: 100px;
    max-height: 420px;
    overflow: auto;
  }
}
