.header {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  transition: background-color 400ms linear;
  gap: 40px;
  min-width: 180px;
  padding: 20px 10px 20px 10px;
  color:var(--header-font);
}

.account__header {
  background-color: var(--account-container);
  transition: background-color 400ms linear;
  border-radius: 30px;
  display: flex;
  color: #fd7770;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  gap: 10px;
  padding: 10px 20px 10px 20px;
}

.header__element{
text-align: right;
}

.avatar__header {
  width: 100px;
  height: 100px;
}

.mobile__header {
  display: flex;
  gap: 30px;
  max-width: 23px;
  justify-content: center; 
  align-items: center;  
  /* position:fixed;
  bottom:20px;
  color:black */
}
