.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: #3c3c3c !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab__main {
  flex: 1;
  padding: 10px;
  text-align: center;
  background: none;
  cursor: pointer;
  color: #fd7770 !important;
  font-weight: 300;
  border-bottom: 2px solid #fd7770;
}

.tab:hover {
  border-bottom: 2px solid #fd7770;
}

.account__wrapper {
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.form {
  min-width: 300px;
}

.edit {
  display: flex;
  text-align: center;
  gap: 30px;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.edited {
  display: flex;
  text-align: center;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: solid 1px var(--font-color);
  border-radius: 30px;
}

.theme__toggle {
  display: flex;
  font-size: 18px;
  align-items: center;
  text-align: right;
  gap: 20px;
}

.change__password {
  display: flex;
  font-size: 18px;
  align-items: center;
  gap: 20px;
  text-align: right;
}
.tab.security span {
  display: inline;
}

@media all and (max-width: 540px) {
  .account__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .tab__container {
    overflow-x: scroll;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
  }
  .tab.security::after {
    content: "Настройки"; /* New text */
    display: block;
  }
  .tab.security span {
    display: none; /* Hide original text */
  }
}
