.button.disabled {
    min-width: 300px;
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid var(--font-color);
  }
  
  .button {
    min-width: 300px;
    background-color: #fd7770;
    transition: 0.1s ease-in;
    color: white;
    border: 1px solid #fd7770;
  }