.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -80px;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 20px;
}

.modal.active {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 30px;
  font-size: 20px;
  color: var(--font-color);
  border: none;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.content {
  border-radius: 20px;
  background-color: var(--content-container);
  height: 150px;
  width: 400px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  padding: 10px;
  box-shadow: 1px 2px 2px 2px var(--modal-shadow);
}

@media all and (max-width: 540px) {
  .content {
    width: 300px;
    position: fixed;
    left: 20%;
    bottom: 50%;
  }
}
