.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 4;
  font-size: 20px;
}

.modal.active {
  display: flex;
}

.content {
  border-radius: 30px;
  background-color: var(--content-container);
  height: 220px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  color: var(--font-color);
  box-shadow: 1px 2px 2px 2px var(--modal-shadow);
  border: 0.1px thin var(--modal-border);
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.select {
  width: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 15px;
}

button {
  background-color: #fd7770;
  color: white;
  border: 1px solid #fd7770;
  padding: 5px 10px;
  border-radius: 5px;
}
