.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 600px;
  height: 370px;
  background-color: var(--filled-date-container);
  color: #f6e9e0;
  font-size: 18px;
  border-radius: 30px;
  overflow-y: auto;
  margin-bottom: 20px;
  margin-top: 10px;

  gap:10px
}

.container:hover{
    color: #646464;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: solid 1px #f6e9e0;
}

.fake{

display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
padding: 40px;
width: 600px;
height: 370px;
background-color: var(--filled-date-container);
color: #f6e9e0;
margin-bottom: 20px;
margin-top: 10px;
border-radius: 30px;

}
